@font-face{
    font-family: 'league-gothic';
    src: url('/font/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('/font/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-condensed-regular-webfont.eot#iefix') format('embedded-opentype'),
    url('/font/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
    url('/font/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
    url('/font/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-condensed-regular-webfont.svg') format('svg');

}
/*
h1 {
    font-family: "league-gothic",sans-serif;
}
*/
html, body {
    position: relative;
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
}
nav { font-family: 'bringinregular', Arial, sans-serif; }




.container{
    width: 1140px;
    /* height: 698px;*/
}


.header {
    background: url("../img/background-man.jpg") no-repeat center top;
}
